html {
  box-sizing: border;
  font-size: 62.5%;
  height: 100%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

#takePhoto { /* stylelint-disable-line */
  z-index: 300;
  position: absolute;
  bottom: 3rem;
  left: 50vw;
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;

  background-color: blue;
}
