html {
  box-sizing: border;
  font-size: 62.5%;
  height: 100%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

canvas[data-tile='0'] {
  margin-top: 300px;
}

.download {
  background-color: #74CEF5;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.solved {
  display: none;
  justify-content: center;
  background-color: rgba(0, 100, 0, .2);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.restart {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  align-self: center;
}
